.singlepost {
  width: 385px;
  margin: 0px 25px 40px 25px;
  border: 1px solid grey;
}

.singlepost .post-image {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
}

.singlepost .post-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singlepost .post-category {
  font-size: 11px;
  color: #ffc03d;
  line-height: 20px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.singlepost .post-title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 15px;
  cursor: pointer;
}

.singlepost .post-date {
  font-style: italic;
  font-size: 13px;
  color: #999;
  margin: 10px;
}

.singlepost .post-description {
  font-size: 14px;
  color: #444;
  line-height: 24px;
  margin-top: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
